################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/.vs
/tests/UserService.Tests.Integration/obj
/tests/UserService.Tests.Integration/bin
/tests/UserService.Tests.Unit/obj
/tests/UserService.Tests.Unit/bin
